.body .card .container-login {
	/* background-image: url("../assetsimg/banner/healthbackground.png") no-repeat
        center center fixed; */
	background-color: aquamarine;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
